.navbar {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 50px;
    background-color: var(--off-white);
    }
    
    .navbar-nav li {
        margin: 10px;
    }
    
    .navbar-nav li:hover {
        background-color: #6828e9;
        border-radius: 10px;
        transition: all 1s ease;
    }
    
    .navbar-nav li a {
        font-size: 12px;
    }
    
    .navbar-nav li a:hover {
        color: var(--off-white);
    }
    
.section-one-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-one-items .section-one-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}

.section-one-items .section-one-cards article {
    max-width: 400px;
    width: 600px;
}

.plans-container--slider {
    display: flex;
    height: 350px;
    overflow-y: hidden;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
 }

 footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #6828e9;
    color: var(--off-white);
}